.RollDice {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.RollDice-container {
	display: flex;
	align-content: center;
	justify-content: center;
}
.RollDice button {
	width: 15em;
	padding: 1.5em;
	border: 0px;
	border-radius: 10px;
	color: white;
	background-color: slateblue;
	margin-top: 3em;
	display: block;
	align-self: center;
}

.RollDice button:hover {
	background-color: darkslateblue;
	cursor: pointer;
}
